@use "_cards.scss";

.h1{
    color: #32B379;
    padding: 8px;
}
.input{
    border: 20px;
    border-radius: 5px;
    background-color: #D9D9D9;
    height: 20px;
}
.para{
    border: 2px;
    background-color: aqua;
    width: 50px;
    height: 50px;
    border-radius: 40px;
}
.para{
   
    border: 2px;
    background-color: aqua;
    width: 50px;
    height: 50px;
    border-radius: 40px;
}
.div{
 display: flex;
justify-content: space-between;
}